*, *::before, *::after {
    box-sizing: border-box;
}

.no-select {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body,
html {
    height: 100%;
    width: 100%;
    line-height: 1.3;
}

html {
    --serif: 'Times New Roman', serif;
    --mono: 'Cascadia Code', monospace;
    font-family: var(--serif);
    font-size: 12px;
}

body {
    color: black;
    fill: black;
    background: white;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    cc  Course Code
    cn  Course Name

    tn  Teacher Name
    tc  Teacher Short Code
    td  Teacher Designation

    ah  Assignment Heading
    at  Assignment Topic

    sn  Student Name
    sc  Student Code
    sb  Student Batch
    ss  Student Section

    sd  Submission Date

    dn  Department Name
    un  University Name
*/

content {
    height: 100%;
    width: 100%;
    @media only screen {
        max-height: calc(100svw * 1.41428571428571);
        max-width: calc(100svh * 0.707070707070707);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.outline {
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        height: 1px;
        min-height: 5rem;
        padding: 2.5rem 2.5rem;
        text-align: center;
        width: 70%;
        max-width: 70%;
        &:has(.none) {
            display: none;
        }
    }
    span {
        text-align: center;
        &[name="cc"], &[name="cn"], &[name="ah"] {
            font-weight: 700;
            font-size: 2.4rem;
        }
        &[name="cc"]::after {
            content: ':';
            padding-right: .8rem;
        }
        &[name="tn"], &[name="tc"], &[name="td"], &[name="at"],
        &[name="sn"], &[name="sc"], &[name="si"], &[name="sr"],
        &[name="sb"], &[name="ss"], &[name="sd"], &[name="dn"],
        &[name="un"] {
            font-size: 1.5rem;
        }
        &[name="tc"] {
            &::before {
                content: '(';
                padding-left: .5rem;
            }
            &::after {
                content: ')';
            }
        }
        &[name="sn"] {
            font-size: 1.8rem;
            font-weight: 700;
        }
        &[name="sc"]::before {
            content: 'Code:';
            padding-right: .5rem;
        }
        &[name="si"]::before {
            content: 'ID No.:';
            padding-right: .5rem;
        }
        &[name="sr"]::before {
            content: 'Roll No.:';
            padding-right: .5rem;
        }
        &[name="sb"] {
            &::before {
                content: 'Batch:';
                padding-right: .5rem;
            }
            &::after {
                content: ',';
                padding-right: .5rem;
            }
        }
        &[name="ss"]::before {
            content: 'Section:';
            padding-right: .5rem;
        }
        &[name="sd"]::before {
            content: 'Date of Submission:';
            padding-right: .5rem;
        }
        /* Margins */
        &[name="ah"], &[name="sn"] {
            margin-top: 8rem;
        }
        &[name="sd"] {
            margin: 5rem 0;
        }
        /* Display */
        &.none {
            display: none;
        }
    }
}

#print {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: #0ea5e9;
    color: #f8fafc;
    font-family: 'Cascadia Code', monospace;
    font-size: 1.2rem;
    height: 4.8rem;
    padding: 0 1.6rem;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #ffffff0d, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover, &:focus {
        background: #38bdf8;
    }
    &:active {
        transform: translateY(3px);
    }
    @media print {
        display: none;
    }
}

.none {
    display: none;
}